@import "tailwindcss";

:root {
 --pink: #F0278A;
 --pink-light: #fce4f0;
 --pink-border: #f7a8d0;
 --peach: #F9C49A;
 --peach-light: #fef0e4;
 --lavender: #C4B5E8;
 --lavender-light: #f0ecfb;
 --dark: #1a1025;
 --dark-2: #2a1f35;
 --dark-3: #3a2d48;
 --blush: #FFF6F9;
 --charcoal: #2d2030;
 --muted: #9a8fa0;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--blush);
  color: var(--charcoal);
  font-family: 'Nunito', sans-serif;
}
